#header {
  height: 30px;
  background: #666;
  }

#header ul {
  width: 640px;
  margin: 0px auto;
  }
  #header ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
    }
    #header ul li a {
      color: #eee;
      font-size: 16px;
      line-height: 30px;
      }

#page {
  width: 640px;
  margin: 0px auto;
  }
