!!!
html
  head
    script(src='/bones.vendor.js')
    script(src='/bones.core.js')
    script(src='/bones.views.js')
    script(src='/bones.controllers.js')
    script(src='/bones.models.js')
    script(src='/app.js')
  body
    div#view
      | home
      a(href="#/") go to home
      a(href="#/foo") go to foo